{% extends 'layout.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <img src="{{ movie.poster.url }}" alt="{{ movie.title }} Poster" class="card-img-top" style="max-height: 450px; background-size: cover;">
                <div class="card-body">
                    <h1 class="card-title">{{ movie.title }}</h1>
                    <p class="card-text"><strong>Description:</strong> {{ movie.description }}</p>
                    <p class="card-text"><strong>Release Date:</strong> {{ movie.release_date }}</p>
                    <p class="card-text"><strong>Actors:</strong> {{ movie.actors }}</p>
                    <p class="card-text"><strong>Category:</strong>
                        {% for category in movie.category.all %}
                            {{ category.title }}{% if not forloop.last %}, {% endif %}
                        {% empty %}
                            No categories found.
                        {% endfor %}
                    </p>
                    
                    {% if movie.trailer_link %}
                    <p class="card-text">
                        <strong>Trailer Link:</strong>
                        <a href="{{ movie.trailer_link }}" class="btn btn-lg">
                            <i class="bi bi-youtube"></i>
                        </a>
                    </p>
                    {% else %}
                    <p class="card-text"><strong>Trailer Link:</strong> <a href="#">None</a></p>
                    {% endif %}
                        

                    {% if user.is_authenticated and user == movie.added_by %}
                        <a href="{% url 'edit_movie' movie.id %}" class="btn btn-primary">Edit</a>
                        <form action="{% url 'delete_movie' movie.id %}" method="post" style="display: inline;" onclick="return confirm('Are you sure you want to delete {{ movie.title }}?')">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Reviews</h2>
                    
                    <ul class="list-unstyled">
                        {% for review in movie.review_set.all %}
                            <li class="mb-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <p><strong>User:</strong> {{ review.user.username }}</p>
                                        <p><strong>Rating:</strong> {{ review.rating }}/5<i class="bi bi-star-fill"></i></p>
                                    </div>
                                    <div class="text-right" style="font-size: 12px;">
                                        <p><strong>Created At:</strong> {{ review.created_at }}</p>
                                    </div>
                                </div>
                                <p><strong>Comment:</strong> {{ review.comment }}</p>
                            </li>
                            <hr>
                        {% empty %}
                            <li>No reviews for this movie yet.</li>
                        {% endfor %}
                    </ul>

                    {% if user.is_authenticated %}
                        <h3 class="card-title">Add Review</h3>
                        <form method="post" action="{% url 'add_review' movie.id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="rating">Rating:</label>
                                <input type="number" name="rating" min="1" max="5" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="comment">Comment:</label>
                                <textarea name="comment" rows="4" class="form-control mb-3" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit Review</button>
                        </form>
                    {% else %}
                        <p>Please <a href="{% url 'login' %}">login</a> to add a review.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
